#!/usr/bin/env python

import os

class EnvironmentVariables(object):
    @staticmethod
    def inject():
        pass
{% if ENVIRONMENT_VARIABLES %}
    {% for key,value in ENVIRONMENT_VARIABLES.iteritems() %}
    os.environ['{{ key }}'] = "{{ value }}"
    {% endfor %}
{% endif %}

